<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{.PageTitle}} - {{.BlogTitle}}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"s>
    <link rel="stylesheet" type="text/css" href="/static/css/ee22d.css">
    <link rel="stylesheet" href="/static/css/g.css"/>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <style>
       
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">{{.BlogTitle}}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/#">主页</a></li>
                    <li><a href="/#">联系我们</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container" id="screen">
        <header id="header" class="mt20">
            <div class="fr">
                <div id="contact-me" style="margin-top: 42px!important;">
                    <div class="social">
                        <a target="_blank" class="weibo" href="http://weibo.com/ghd214?is_all=1" title="Weibo">Weibo</a>
                        <a target="_blank" class="github" href="https://github.com/ghd214" title="GitHub">GitHub</a>
                    </div>
                </div>
            </div>
            <div class="fl">
                <a href="/" ><img id="logo-img" src="{{.BlogLogo}}" class="img-circle" width="90" height="90"></a>
            </div>
            <div class="fl">
                <div id="blog-title"><a href="/">{{.BlogTitle}}</a></div>
                <div id="blog-resume">{{.BlogResume}}</div>
            </div>
            <div style="clear:both;"></div>
            <hr>
        </header>

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ghdcblog-header -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-9110197060706232"
                 data-ad-slot="8465318018"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        {{.LayoutContent}}


        <div class="clear"></div>
        <footer>
            <div class="site-source">
                本网站所收集的部分公开资料来源于互联网，转载的目的在于传递更多信息及用于网络分享<br>如果您发现网站上有侵犯您的知识产权的作品，请与我们取得联系，我们会及时修改或删除。
            </div>
            <div class="sfc-member">
                <a target="_blank">京ICP证16013089号</a>
            </div>
        </footer>
    </div>
</body>
</html>